{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - SpendWise</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>

<div class="auth-container">
    <div class="auth-card">
        <h1>Welcome <em>Back</em></h1>
        {% if messages %}
        <div class="popup-container">
            {% for message in messages %}
                <div class="popup {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        {% endif %}
        <form method="POST" autocomplete="off">
            {% csrf_token %}

            <input type="text" name="username" placeholder="Username" required autocomplete="off">
            <input type="password" name="password" placeholder="Password" required autocomplete="off">

            <!-- Remember Me -->
            <div class="options">
                <label>
                    <input type="checkbox" name="remember" autocomplete="off"> Remember Me
                </label>
                <a href="{% url 'password_reset' %}">Forgot Password?</a>
            </div>

            <button type="submit">Login</button>
        </form>

        <p>Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>
    </div>
</div>
<script>
setTimeout(() => {
    document.querySelectorAll('.popup').forEach(p => {
        p.style.opacity = '0';
        setTimeout(() => p.remove(), 500);
    });
}, 3000);
</script>

</body>
</html>