{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - SpendWise</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>

<div class="auth-container">
    <div class="auth-card">
        <h1>Create <em>Account</em></h1>

        <form method="POST">
            {% csrf_token %}

            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password1" placeholder="Password" required>
            <input type="password" name="password2" placeholder="Confirm Password" required>

            <button type="submit">Sign Up</button>
        </form>

        <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
    </div>
</div>

</body>
</html>